html, body {
  background: #888f;
  font-family: Arial, sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.home h1{
  text-align: center;
  background: -webkit-linear-gradient(45deg,red,white,blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home h2{
  text-align: center;
}

.main h2 {
  text-align: center;
  color: #ffff;
  background-color:#333f;
  padding: 10px;
  width: 90%;
  height: 80%;
  position:absolute;
  margin-left: auto;
  margin-right:auto;
  left:0;
  right:0;
  top:10%;
  z-index: 1;
  transition: background 1000ms,color 1000ms;
}
.main:hover h2{
  background-color: #333f;
  color: #ffff;
  text-decoration: none;
  transition: background 1000ms,color 1000ms;
}

#parent {
    background-color:#333f;
    color: #ffff;
    width: 90%;
    height: 80%;
    margin:auto;
}
.block {
}
.center {

    text-align:center;
}
.left {

    text-align:left;
}
.right {

    text-align:right;
}
.navBardemoBasicUsage md-content .ext-content {
  padding: 50px;
  margin: 20px;
  background-color: #FFF2E0; }

.md-card-image{
  max-width:auto;
  height:auto;
}
.md-card{
  max-width:600px;
  height:auto;
}

.rtaln {

    right:0;
}
.fill-space {
  // This fills the remaining space, by using flexbox.
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}


/*------------------EXAMPLE CSS-----------------*/

  [ng-cloak] {
  display: none;
}

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

/* Toolbar area */

.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
}

md-toolbar h1 {
  margin: auto;
}

/* Sidenav area */

md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
}

md-list .md-button.selected {
  color: #03a9f4;
}

md-sidenav md-list {
  padding: 0px 0px 8px 0px;
}

/* Primary content area */

#content {
  overflow: hidden;
}

#content {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
}

#content .md-button.share {
  background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  margin: 8px auto 16px 0;
  position: absolute;
  top: 10px;
  right: 25px;
}

#content md-icon.avatar {
  margin-top: 10px;
}

#content .md-button.share > md-icon {
  fill: black;
  width: 36px;
  height: 36px;
}

md-button.menuBtn > md-icon {
  fill: white;
  width: 24px;
  height: 24px;
}

#content .md-button.share:active > md-icon {
  background-color: #dadada;
  border-radius: 75%;
  padding: 4px;
  transition: all 100ms ease-out 30ms;
}

#content img {
  display: block;
  height: auto;
  max-width: 500px;
}

/* Utils */

.content-wrapper {
  position: relative;
}

/* Typography support coming in 0.8.0 */

md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
}

.avatar {
  position: relative;
  width: 128px;
  height: 128px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom: 0.70;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform: scale(0.70);
}

md-bottom-sheet md-icon {
  margin-right: 20px;
}

span.name {
  font-weight: bold;
  font-size: 1.1em;
  padding-left: 5px;
}

.buttondemoBasicUsage section {
  background: #f7f7f7;
  border-radius: 3px;
  text-align: center;
  margin: 1em;
  position: relative !important;
  padding-bottom: 10px; }

.buttondemoBasicUsage md-content {
  margin-right: 7px; }

.buttondemoBasicUsage section .md-button {
  margin-top: 16px;
  margin-bottom: 16px; }

.buttondemoBasicUsage .label {
  position: absolute;
  bottom: 5px;
  left: 7px;
  font-size: 14px;
  opacity: 0.54; }

  .carddemoBasicUsage .card-media {
  background-color: #999999; }

.inputdemoIcons {
  /*
.right-icon {
  position: absolute;
  top: 4px;
  right: 2px;
  left: auto;
  margin-top: 0;
}
*/ }
  .inputdemoIcons .inputIconDemo {
    min-height: 48px; }
  .inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.email {
    color: green; }
  .inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.name {
    color: dodgerblue; }
  .inputdemoIcons md-input-container.md-input-invalid > md-icon.email,
  .inputdemoIcons md-input-container.md-input-invalid > md-icon.name {
    color: red; }