
<div align="center">
	<md-content flex layout-padding>
		
	</md-content>

	<md-card class="md-card" ng-repeat="convention in conventions">
    <script>collapse[convention.name]=false;</script>
    <md-card-header>
      <md-card-avatar>
        <img src="assets/icons/D-circle-logo-favicon.png">
      </md-card-avatar>
      <md-card-header-text>
        <span class="left"> &nbsp;&nbsp;{{convention.name}}</span>
        <span class="left"> &nbsp;&nbsp;{{convention.location}}&nbsp;|&nbsp;{{convention.date}}&nbsp;|&nbsp;{{convention.time}}&nbsp;&nbsp;</span>
      </md-card-header-text>
      <md-button class="md-icon-button md-primary" aria-label="More" ng-click="toggle(convention.name)">
        <i class="material-icons">expand_more</i>
      </md-button>
    </md-card-header>
    <img ng-src="assets/betterConvention.jpg" class="md-card-image" ng-show="collapse[convention.name]">
    <md-card-titleng ng-show="collapse[convention.name]">
      <md-card-title-text>
        <span class="md-headline">{{convention.name}}</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content ng-show="collapse[convention.name]">
      <p>
        Location: {{convention.location}}<br>
        Date:     {{convention.date}}<br>
        Time:     {{convention.time}}<br>
      </p>
        {{convention.description}}
      <p>
      </p>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center" ng-show="collapse[convention.name]">
      <md-button href="#/signup" ng-click="location.href=this.href+'/'+convention.id;return false;">Sign Up</md-button>
    </md-card-actions>
  </md-card>

  

</div>