
<div align="center" layout="column" layout-align="center center" style="-webkit-overflow-scrolling: auto;">
  <md-card class="md-card">
      <md-card-header>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Conventions</span>
          </md-card-title-text>
          <md-card-title-media>
            <md-button class="md-icon-button material-icons md-primary" aria-label="More" ng-click="toggleCon()">
                <i class="material-icons">add_circle</i>
            </md-button>
          </md-card-title-media>
        </md-card-title>       
      </md-card-header>
      <md-card-content>
        <form>
        <md-content  layout-padding layout="column" ng-show="toggleNewConvention">
            <md-input-container >
              <input ng-model="convention.name" type="text" ng-required="true" placeholder="Convention Name">
            </md-input-container>

            <md-input-container > 
              <md-datepicker ng-model="convention.date" placeholder="Enter date" ng-required="true" placeholder="Date" md-open-on-focus></md-datepicker>
            </md-input-container>

            <md-input-container>
             <input ng-model="convention.time" aria-label type="time" ng-required="true" placeholder="Time">
            </md-input-container>

            <md-input-container> 
              <input ng-model="convention.location" type="text" ng-required="true" placeholder="Location" >
            </md-input-container>

            <md-input-container>
              <textarea ng-model="convention.description" aria-label md-maxlength="700" rows="5" ng-required="true" placeholder="Convention Description"></textarea>
            </md-input-container>
            <md-button class="md-icon-button material-icons md-primary" aria-label="More" ng-click="post()">
                <md-icon md-font-set="material-icons">add_circle</md-icon>
            </md-button>
        </md-content>
      </form>
      </md-card-content>
  </md-card>


	<md-card class="md-card" ng-repeat="convention in conventions">
    <script>
      collapse[convention.name]=false; 
      window.alert("hello");
    </script>
    <md-card-header>
      <md-card-avatar>
        <img src="assets/icons/D-circle-logo-favicon.png">
      </md-card-avatar>
      <md-card-header-text>
        <span class="left"> &nbsp;&nbsp;{{convention.name}}</span>
        <span class="left"> &nbsp;&nbsp;{{convention.date | date: 'EEEE, MMMM d, y'}}&nbsp;|&nbsp;{{convention.time | date: 'hh:mm:a'}}&nbsp;|&nbsp;{{convention.location}}&nbsp;&nbsp;</span>
      </md-card-header-text>
      <md-button class="md-icon-button md-primary" aria-label="More" ng-click="toggle(convention.name)">
        <i class="material-icons">expand_more</i>
      </md-button>
    </md-card-header>
    <img ng-src="assets/betterConvention.jpg" class="md-card-image" ng-show="collapse[convention.name]">
    <md-card-titleng ng-show="collapse[convention.name]">
      <md-card-title-text>
        <span class="md-headline">{{convention.name}}</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content ng-show="collapse[convention.name]">
      <p>
        Location: {{convention.location}}<br>
        Date:     {{convention.date | date: 'EEEE, MMMM d, y'}}<br>
        Time:     {{convention.time | date: 'hh:mm:a'}}<br>
      </p>
        {{convention.description}}
      <p>
      </p>
      <div ng-repeat="subConSing in subCons[convention.id]" >
          SubConventions: {{subcConSing.name}}
      </div>
      <md-chips>
        <div ng-repeat="subConSing in subCons[convention.id]" >
          SubConventions: {{subcConSing.name}}
          <md-chip ng-click="showConfirmSubCon($event,subConSing.id)">
            {{subConSing.name}}<md-icon md-font-set="material-icons">delete</md-icon>
          </md-chip>
        </div>
        
        <md-chip ng-click="showAdvanced($event,convention.id)">
          <md-icon md-font-set="material-icons">add_circle</md-icon>
        </md-chip>
      </md-chips>
    </md-card-content>
    
    <md-card-actions layout="row" layout-align="end center" ng-show="collapse[convention.name]">
      <md-button ng-click="showConfirmCon($event,convention.id);"><i class="material-icons">delete</i> Delete Convention</md-button>
    </md-card-actions>
  </md-card>

  

</div>