<div align="center" layout="row" layout-align="center center">
		<md-button class="md-raised" href="#/conventions">
         	Conventions
        </md-button>
        
</div>

<!--
	<md-list layout="column" layout-sm="row" layout-align="center center">
      
       List Item Example 
    	<md-list-item>
        <md-button class="md-raised"href="#/conventions">
         	<md-icon class="avatar"></md-icon>
         	Conventions
        </md-button>
    	</md-list-item>

		<md-list-item>
		<md-button class="md-raised" href="#/signup">
			<md-icon class="avatar"></md-icon>
     		Sign In
		</md-button>
  		</md-list-item>
	</md-list>

-->