<div align="center" style="-webkit-overflow-scrolling: auto;">
	 <md-card class="md-card">
	      <md-card-header>
	        <md-card-title>
	          <md-card-title-text>
	            <span class="md-headline">Convention Sign Up</span>
	          </md-card-title-text>
	          <md-card-title-media>
	          </md-card-title-media>
	        </md-card-title>       
	      </md-card-header>
	      <md-card-content>
	        <md-content class="md-no-momentum">
	            <md-input-container md-no-float class="md-block">
	              <input ng-model="convention.name" type="text" md-placeholder="Convention Name">
	            </md-input-container>

	            <md-input-container md-no-float class="md-block">
	              <md-datepicker ng-model="convention.date" md-placeholder="Enter date"></md-datepicker>
	              <input ng-model="convention.date" type="text" md-placeholder="Convention Date">
	            </md-input-container>

	            <md-input-container md-no-float class="md-block">
	              <input ng-model="user.time" type="time" ng-required="true">
	            </md-input-container>

	            <md-input-container md-no-float class="md-block">
	              <input ng-model="convention.location" type="text" placeholder="Location" >
	            </md-input-container>

	            <md-input-container md-no-float class="md-block">
	              <textarea ng-model="convention.description" md-maxlength="150" rows="10" width="75%"></textarea>
	            </md-input-container>
	            <md-button class="md-raised material-icons md-primary" aria-label="More" ng-click="post()">
	                <i class="material-icons">add_circle</i> Register
	            </md-button>
	             <md-button class="md-raised material-icons md-primary" aria-label="More" ng-click="post()">
	                <i class="material-icons">add_circle</i> Register and Save
	            </md-button>
	        </md-content>
	      </md-card-content>
	  </md-card>
</div>