<md-dialog aria-label="Add Sub Convention">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add Sub-Convention</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon aria-label="Close dialog"><i class="material-icons">close</i></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div  layout-padding layout="column" class=" md-dialog-content md-card">
            <md-input-container >
              <input ng-model="newSubCon.name" type="text" ng-required="true" placeholder="SubCon Name">
            </md-input-container>
                
            <md-input-container > 
              <input ng-model="newSubCon.leader" type="text" ng-required="true" placeholder="Leader">
            </md-input-container>

            <md-input-container>
             <input ng-model="newSubCon.time" aria-label type="time" ng-required="true" placeholder="Time">
            </md-input-container>

            <md-input-container> 
              <input ng-model="newSubCon.location" type="text" ng-required="true" placeholder="Location" >
            </md-input-container>

            <md-input-container>
              <textarea ng-model="newSubCon.description" aria-label md-maxlength="700" rows="5" ng-required="true" placeholder="Convention Description"></textarea>
            </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="answer(false)">
        Cancel
      </md-button>
      <md-button ng-click="answer(true)">
        Add
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>